    $black-color: #222222;
    $pink-color: #F1E4E6;
    $pink-dark-color: #F16D7F;
    $grey-color: #9F9F9F;
    $beige-color: #F8F8F8;
    $beige-total-cart-color: #F5F3F3;
    $dark-grey-color: #5D5D5D;
    $light-grey-color:  #E1E1E1;
    $pink-border-color:  #FF6A6A;
    $pink-browse-color: #F26376;
    $light-black-color: #222224;
    $grey-menu-color: #6F6E6E;
    $grey-border-color: #A4A4A4;
    $intro-overlay-color: rgba(0,0,0,0.5);

    $desktop-width: 1600px;
    $tablet-width: 768px;
    $mobile-width: 375px;