.cart {
    display: flex;
    
    .cart_basket {
        
        .cart__list {
            display: flex;
            flex-direction: column;
            margin-top: 56px;
            margin-bottom: 72px;
        
                .cart__item {
                display: flex;
                justify-content: space-between ;
                box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
                width: 90%;
                height: 306px;
                margin-top: 40px;
                @include mobile {
                    height: 188px;
                    width: 98%;
                }
            }
    
                .cart__item_img {
                    width: 100%;
                    height: 306px;
                    @include mobile {
                        height: 188px;
                        width: 98%;
                    }
                }
    
                .cart__info {
                    margin-left: 31px;
                    width: 100%;
                    margin-right: 57px;
                    margin-bottom: 62px;
                    
                    .cart__item_header {
                        @include font (24px, 29px, 400);
                        text-transform: uppercase;
                        margin-top: 22px;
                        margin-bottom: 36px;
                        width: 100%;
                        @include mobile {
                            margin-bottom: 5%;
                            margin-top: 5%;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
        
                    .cart__item_text {
                        @include font (22px, 26px, 400);
                        margin-top: 6px;
        
                        .cart_pink {
                            color: $pink-dark-color;
                        }
    
                        .cart_quantity {
                            width: 28px;
                            height: 24px;
                            align-items: center;
                            border: 1px solid #EAEAEA;
                            padding-left: 15px;
                        }
                        @include mobile {
                            font-size: 14px;
                            line-height: 17px;
                    }
        
                }
    
                .cart__delete {
                    padding-top: 28px;
                    padding-right: 22px;
                }
                
                }
        }

        .cart__buttons {
            display: flex;
            justify-content: space-between;

            .cart__button {
                width: 234px;
                height: 49px;
                margin-bottom: 129px;
                border: 1px solid #A4A4A4;
                @include font (14px, 17px, 300);
                text-decoration: none;
                text-transform: uppercase;
                background-color: white;
                text-align: center;
            }
        }
    }

    .cart__finish {
        margin-top: 113px;

        .cart__adress {
            display: flex;
            flex-direction: column;

            .cart__adress_header {
                @include font (16px, 19px, 300);
                text-transform: uppercase;
                
            }
            
            .cart__input {
                margin-top: 20px;
                width: 360px - 16px;
                height: 45px;
                padding-left: 16px;
            }

            .cart__adress_button {
                margin-top: 24px;
                width: 100px;
                height: 34px;
                border: 1px solid $grey-border-color;
                background-color: white;
                @include font (11px, 13px, 300);
                text-transform: uppercase;
                color: #4A4A4A;
            }
            @include tablet {
                display:flex;
            }
            @include mobile {
                width: 100%;
            }
        }

        .cart__total {
            background-color: $beige-total-cart-color;
            width: 360px;
            height: 214px;
            margin-top: 58px;
            margin-bottom: 20px;
            padding-top: 39px;

            .cart__subtotal {
                @include font (11px, 13px, 400);
                margin-left: 218px;
                text-transform: uppercase;
            }

            .cart__grand_total {
                @include font (16px, 19px, 300);
                text-transform: uppercase;
                margin-top: 12px;
                margin-left: 153px;
                margin-bottom: 21px;

                .cart__grand_total-pink {
                    @include font (16px, 19px, 700);
                    color: $pink-dark-color;
                    margin-left: 10px;
                }
            }

            .cart__checkout {
                width: 273px;
                height: 50px;
                margin-top: 17px;
                margin-left: 44px;
                color: white;
                background-color: $pink-dark-color;
                border: none;
                text-transform: uppercase;
                @include font (16px, 19px, 300);
            }
        }
    }
    @include tablet {
        display:flex;
        flex-direction: column;
    }
    @include mobile {
        width: 100%;
    }

    .cart__hr {
        width: 275px;
    }
}